$theme-color : #14468C;
$secondary-color : #af111c;
$text-color :#181818;
$footer-text-color : rgb(245, 245, 245);
$footer-bottom-color:#b3b3b3;
$footer-top-background-color: #c0c0c0;
$footer-bottom-background-color: #b1b1b1;
$footer-heading: #616161;
$box-shadow:0 0 5px 0 rgba(0,0,0,.2);
$white-text-color:white;
$light-color:#dadada;
$dark-color:#383838;
$medium-color:#666666;
$heading-color:#1d1d1d;
$font-family:'Mukta', sans-serif;
$border-category-color:#444444;
$border-radius:4px;