{% load static %}

<header>
    <section class="header-top pt-3" style="background: white;color: black;background-image: url(http://lagani.prixa.live/static/home/assets/images/header_bg.png);background-size: contain;">
        <div class="container-fluid ">
            <div class="flex-spaces header">
                <div class="goven-logo image-size">
                    <a href="#">
                        <img src="{% static 'home/assets/image/govern-logo.png' %}">
                    </a>
                </div>
                <div class="notice-name">
                    <div class="pradesh-title text-center">
                        <ul>
                            <li>
                                <h5 style="color:black;">प्रदेश सरकार</h5>
                            </li>
                            <li>
                                <h5 style="color:black;font-size:25px;font-weight:600;">लुम्बिनी प्रदेश</h5>
                            </li>
                            <li>
                                <h2 style="color:#af111c;font-size:50px;font-weight:700;">सूचना पोर्टल</h2>
                            </li>
                          
                        </ul>
                    </div>
                </div>
                <div class="language-translation image-flag">
                    <ul>
                        <li>
                            <a href=""><img src="{% static 'home/assets//image/nepalflag.gif' %}" class="img-fluid"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>